
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>

        <!-- For loop in Jinja -->
        {% for melon in melon_list %}
            <tr>
                <td>{{ melon.common_name }}</td>
                <td>{{ melon.quantity }}</td>
                <td>${{'%0.2f'| format(melon.price|float)}}</td>
                <td>${{ melon.total }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <h3>Total: ${{ grand_total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
